{% extends 'dashboard/main.html' %}
{% load static %}
{% block content %}

<div id="featured" class="container">
    <div class="mentrow">
        <div class="title">
        <br><br><h2>Mentors:</h2><br>
        </div>    
        {% for ment in ments %}
        <div class="mentcolumn">
          <div class="mentcard" style="height:600px;">
            <img src="{{ment.img.url}}" alt="" style="width: 100%; height:40%">
            <div class="mentcontainer">
              <h3>{{ment.mentor_name}}</h3>
              <p class="menttitle">Sport: {{ment.sport}}</p>
              <p>{{ment.experience}}</p>
              <label>Email:{{ment.email}}&nbsp;&nbsp;&nbsp;&nbsp;Phone:{{ment.phone}}</label>
              
            </div>
          </div>
        </div>
        {% endfor %}
       
    </div>
</div>

{% endblock content %}
